-#TODO need to dry up registration header. Used in sessions#new, users#new, and registrations#new.

#page
  %header#header.site-header
    = render "registrations/registration_header"

  %main#main.site-main
    .container
      .row
        .col-xs-4.col-xs-offset-4
          %h1 Sign In

          = form_tag sessions_path do
            .form-group
              = label_tag :email
              = email_field_tag :email, nil, class: "form-control"
            .form-group
              = label_tag :password
              = password_field_tag :password, nil, class: "form-control"
            = submit_tag "Sign In", class: "btn btn-success"
            = link_to "Sign Up", signup_path, class: "pull-right"



