%main#main.site-main
  .container
    .row
      #signin
        .col-xs-4.col-xs-offset-4
          %h1 Reset Password

          %p
            Hey
            = @user.first_name
            , give me a new password

          %p.mt50
            = form_for @user, html: {role: "form"}, url: password_reset_path(@password_reset.token) do |f|
              .form-group
                = f.label :password
                = f.password_field :password, class: "form-control"
              .form-group
                = f.label :password_confirmation
                = f.password_field :password_confirmation, class: "form-control"
              .form-group
                = f.submit class: "btn btn-large btn-warning"
