= render "layouts/validation_errors", :model => @user

.row
  .col-sm-6
    .ibox.float-e-margins
      .ibox-title
        %h2 Update Profile
      .ibox-content
        = form_for [@user], html: { role: "form"} do |f|
          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: "form-control"
          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: "form-control"
          .form-group
            = f.label :email
            = f.text_field :email, class: "form-control"
          .form-group
            = f.label :password
            = f.password_field :password, class: "form-control"
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: "form-control"
          .form-group
            = f.label :admin
            = f.check_box :admin, disabled: current_user.admin ? false : true

          = f.submit class: "btn btn-lg btn-warning"

