-#TODO need to dry up registration header. Used in sessions#new, users#new, and registrations#new.

#page
  %header#header.site-header
    = render "registrations/registration_header"

  %main#main.site-main
    .container
      .row
        .col-md-6.col-md-offset-3
          %h1 Sign Up

          -#error div
          - if @user.errors.any?
            #error_explanation
              %h2
                Whooaa tiger, something has gone wrong.

              %ul
                - @user.errors.full_messages.each do |msg|
                  %li= msg

          = form_for @user do |f|
            .form-group
              = f.label :first_name, class: "label-control"
              = f.text_field :first_name, class: "form-control"
            .form-group
              = f.label :email, class: "label-control"
              = f.text_field :email, class: "form-control"
            .form-group
              = f.label :password, class: "label-control"
              = f.password_field :password, class: "form-control"
            .form-group
              = f.label :password_confirmation, class: "label-control"
              = f.password_field :password_confirmation, class: "form-control"
            .form-group
              = f.submit "Sign Up", class: "btn btn-success"

      .row.mt50
        .col-md-6.col-md-offset-3.text-left
          %i.fa.fa-envelope.mr10
          We promise never do anything uncool with your info

  -#TODO strange issue with different versions of bootstrap or theme being used for btn-large on render vs redirect
