!!! 5
%html(lang="en-US")
  %head
    %title Founder Traits
    = stylesheet_link_tag    'guest_pages/guest', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'guest_pages/guest', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    -#TODO look at rendering flash partial instead. Might have been a problem or something
    - flash.each do |name, message|
      %strong
        %div{:class => "alert alert-#{name}", :role => "alert"}
          = message
    #page
      %header#header.site-header
        = render "layouts/guest_pages/header"

      %main#main.site-main
        %section#carousel-1.carousel.slide.section-slide{"data-ride" => "carousel"}
          .carousel-inner
            .item.active{:style => "background: url(https://farm3.staticflickr.com/2871/10093714286_c3925502f0_o.jpg); background-size: cover; background-repeat: no-repeat"}
              .container
                .main_content.pt10.pb40.col-sm-12
                  = yield

      %footer#footer.site-footer.mt100
        = render "layouts/guest_pages/footer"
