!!! 5
%html(lang="en-US")
  %head
    %title Little Cat Labs
    = stylesheet_link_tag 'landing_page/landing_page', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    -#TODO look at rendering flash partial instead. Might have been a problem or something
    - flash.each do |name, message|
      %strong
        %div{:class => "alert alert-#{name}", :role => "alert"}
          = message

    = yield


