.section-title
  %h1 Create a founder

.col-sm-6.col-sm-offset-3
  = simple_form_for(@founder, html: {class: 'form-horizontal' }) do |founder|
    = founder.input :name
    = founder.simple_fields_for :traits do |trait|
      = trait.input :name, label: "Trait"
    = founder.input :image_url
    = founder.input :quote
    = founder.button :submit, class: "btn btn-success"
